################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/layui-common-extentions/FileContentIndex/read.lock
*.vsidx
